/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: rgba(255, 255, 255, 0.8);
}

html[data-theme='dark'] {
  --ifm-navbar-background-color: rgba(36, 37, 38, 0.7);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Navbar styles */
nav.navbar {
  backdrop-filter: blur(1.1rem);
}

/* Elements embedded in markdown files */
.markdown img {
  border-radius: var(--ifm-global-radius);
}

html[data-theme='dark'] .markdown img {
  filter: brightness(0.8);
}

html[data-theme='dark'] .markdown img.invert {
  filter: invert(0.9);
}

.markdown img[align='right'] {
  margin-left: 8px;
  margin-bottom: 8px;
}

.markdown img[align='left'] {
  margin-right: 8px;
  margin-bottom: 8px;
}

.markdown iframe {
  border-radius: var(--ifm-global-radius);
}

/* Custom navbar icon links */
.custom-icon-button {
  padding-left: 12px;
  padding-right: 12px;
}

.custom-icon-button:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
}

.custom-icon-button:last-of-type {
  margin-right: 12px;
}

.custom-icon-button:hover {
  opacity: 0.7;
}

html[data-theme='dark'] .custom-icon-button:before {
  filter: grayscale(95%);
}

/* GitLab Link */
.header-gitlab-link:before {
  background: url('/img/gitlab-icon-rgb.svg') no-repeat center center;
  background-size: 170%;
}

html[data-theme='dark'] .header-gitlab-link:before {
  background: url('/img/gitlab-icon-rgb.svg') no-repeat center center;
  background-size: 170%;
}

/* BTC Link */
.header-btc-link:before {
  background: url('/img/bitcoin.svg') no-repeat;
  background-size: cover;
}

html[data-theme='dark'] .header-btc-link:before {
  background: url('/img/bitcoin.svg') no-repeat;
  background-size: cover;
}
